#!/usr/bin/env ruby
# encoding: utf-8
require "bunny"
QUEUE = 'ebs.snapshot'

  conn = Bunny.new(:automatically_recover => false)
  conn.start
  ch = conn.create_channel
  q = ch.queue(QUEUE)
  ch.default_exchange.publish("create", :routing_key => q.name)
  puts " [x] Sent 'Create'"
  ch.default_exchange.publish("delete", :routing_key => q.name)
  puts " [x] Sent 'Delete'"
  conn.close
